<o-form-layout-manager attr="MaintenanceRequest" mode="tab" title="MAINTENANCEREQUEST">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="MaintenanceRequestTable" 
            service="MaintenanceRequest" 
            entity="MaintenanceRequest" 
            title="MAINTENANCEREQUEST"
            keys="id"
            columns="description;room_id;status;request_date;id" 
            header-actions="R;D"
            visible-columns="description;room_id;status;request_date;id"  
            sort-columns="description" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #description attr="description" title=" description*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="room_id" title="room_id">
    <o-table-cell-renderer-service attr="room_id" 
        service="Room" entity="RoomType" columns="id;id"
        parent-keys="id:room_id"
        value-column="id" keys="room_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #status attr="status" title="status" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-date-input #request_date attr="request_date" type="date" label="request_date" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>